*
!/.*
!/.*/**/*
!/.config/
!/.config/**/*
/.DS_Store
/.cache/
/.cargo/.package-cache
/.gnupg/
/.lesshst
/.local/
/.npm/
/.ssh/
/.terraform.d/
/.viminfo
/.vscode/
/.zcompdump-*
/.zsh_history
/.zsh_sessions/