# ignore all
*

# except this
!/.*
!/.*/**/*
!/.config/
!/.config/**/*

# but ignore this
/.DS_Store
/.cache/
/.cargo/.package-cache
/.config/containers
/.gnupg/
/.lesshst
/.local/
/.npm/
/.ssh/
/.terraform.d/
/.viminfo
/.vscode/
/.zcompdump-*
/.zsh_history
/.zsh_sessions/